@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

body {
  background-color: #eeeeee;
  font-family     : 'Poppins', sans-serif;
  font-weight     : 400;
}

b,
strong,
h1,
h2,
h3 {
  font-weight: 700;
}

small,
address {
  font-weight: 200;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}



#root {
  height          : 100vh;
  background-color: #eeeeee;
  display         : flex;
}

.app {
  height: 100%;

  >nav {
    position        : absolute;
    overflow-y      : auto;
    height          : 100%;
    background-color: aqua;
    width           : 205px;
    padding         : 16px;
  }

  >aside {
    padding    : 16px;
    width      : calc(100% - 205px);
    margin-left: 205px;
  }
}